/* 
.nav-slider .slick-track {
  padding-bottom: 20px !important;
} */
.slick-dots li.slick-active button:before {
  color: #e67e22 !important;
}
.slick-dots li button:before {
  color: #e67e22 !important;
  font-size: 16px !important;
}
@media (max-width: 576px) {
  .slick-dots li button:before {
    font-size: 12px !important;
  }
}
